@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --grey: #F7F8FA;
    --pink: #F7E1E4;


}

body {
    font-family: 'Changa', sans-serif;
}

.fa-thin {
    font-weight: 300;
}

.topcategories {
    flex: 1;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.sub-category-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;

}

.nav-a-cat {
    width: 220px;
    text-decoration: none;
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: #000;
    padding: 10px;
    cursor: pointer;
}

.nav-img-c {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    width: 18%;
    font-size: large;
}

.radius-0 {
    border-radius: 0 !important;
}

/* .row {
    align-items: center;
}
 */

.black-bg {
    background-color: #000 !important;
}

.black-color {
    color: #000 !important;
}

.pink-bg {
    background-color: #F7E1E4 !important;
}

.pink-color {
    color: #F7E1E4 !important;
}

.white-bg {
    background-color: #ffffff !important;
}

.white-color {
    color: #ffffff !important;
}

.grey-bg {
    background-color: #F7F8FA !important
}

.grey-color {
    color: #F7F8FA !important
}

.nav-link {
    color: #000 !important;
    cursor: pointer;
}

/* .searchInput {
    border: 1px 0px 1px 1px solid #ced4da;
}
.searchInput:focus {
    border: 0px 0px 0px 0px
} */

.form-select:focus,
.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

.search-field {
    width: 80%;
}

.search-field-mobile {
    width: 100%;
    padding: 0px !important;
    border-left: 1px solid #F8F9FA;
}

.search-btn-mobile {
    background-color: white;
    color: #ced4da;
    border-radius: 0px !important;
    border-left: 1px solid #F8F9FA
}

.search-btn {
    background-color: white;
    color: #ced4da
}

.search-btn:hover {
    color: white;
    background: linear-gradient(270deg, rgba(206, 212, 218, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.close-btn {
    color: black;
    text-decoration: none
}

.navbar-toggler {
    outline: none;
    box-shadow: none;
    border: none !important
}

.counter-count {
    position: absolute;
    font-size: small;
}


.list-item {
    width: 150px;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    /* background: rgba(255, 0, 0, 0.1); */
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    /* border: 1px solid black; */
    box-shadow: 0 0 2px gray;
    text-transform: uppercase;
    border-radius: 5px;
}

.list-item:hover {
    background: #eff3fa;
    box-shadow: 0 0 2px #eff3fa;
    color: rgb(0, 0, 0);

}

.scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
    height: fit-content;
    width: 100%;
}

.scroll::-webkit-scrollbar {
    width: 1px;
}

.scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.open {
    left: 0;
    position: fixed;
    transition: 0.3s;
}

.close {
    position: fixed;
    left: -110%;
    transition: 0.3s;
}


@media screen and (min-width: 768px) {
    .show-mobile {
        display: none;
    }

    .counter-count {
        top: -30%
    }
}

@media screen and (max-width: 768px) {
    .hide-mobile {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    .counter-count {
        top: 25%
    }
}

.sidebar {
    z-index: 1100;
    list-style-type: none;
    padding: 0;
    display: flex;
    overflow: auto;
    flex-direction: column;
    /* top: 65px; */
    top: 0;
    background-color: #F7F8FA;
    width: 100%;
    height: 100%;
    padding-bottom: 150px;
}

.nav-a {
    height: 50px;
    text-decoration: none;
    position: relative;
    border-bottom: 1px solid rgba(128, 128, 128, 0.164);
    color: #000;
}

.side-item {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 10px;
    margin-left: 15%;
}

.nav-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    width: 10%;
    font-size: large;
}

.nav-header {
    text-decoration: none;
    position: fixed;
    top: 0%;
    height: 80px;
    width: 100%;
    z-index: 15;
    line-height: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.164);
    background-color: white;
}

.nav-header-button {
    text-decoration: none;
    color: black
}

.nav-img-right {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    width: 5%;

}


.left,
.right {
    flex: 1
}

select {
    text-align-last: center;
}

.form-selectt-web {
    background-image: none;
    background-color: white;
    width: fit-content;
    border-radius: 10px;
}

.form-selectt-web:focus-visible {
    outline: none
}

.form-selectt {
    background-image: none;
    background-color: white;
    width: fit-content;
    border: 5px solid #e4e7ec;
    border-radius: 50px;
    height: 50px;
    width: 70px;
}


.form-selectt:focus-visible {
    background-color: white;
    outline: none;
}

.form-selectt::-ms-expand {
    display: none;
}


.top-bar-icon {
    padding-left: 10px;
    padding-right: 10px;
    color: black
}

.phone {
    text-decoration: none;
    color: black
}

@media (max-width: 767px) {
    ul li {
        margin: 15px 10px;
    }
}

ul li a {
    text-decoration: none;
    color: black;
}

.bottom-nav-text {
    text-decoration: none;
    color: #000;
}

.bottom-nav-item {
    font-size: smaller;
    text-decoration: none;
    text-align: center;
}

.bottom-bar {
    border-top-color: rgb(177, 177, 177);
    border-top-style: solid;
    border-top-width: 1px;
    border-radius: 15px 15px 0px 0px;
}


/* grid */
.products {
    display: grid;
    grid-gap: 30px;
}

.shops {
    padding: 5px 10px 65px 10px;
    display: grid;
    grid-gap: 30px;
}

@media screen and (min-width:1440px) {
    .products {
        grid-template-columns: repeat(7, 1fr);
    }

    .shops {
        grid-template-columns: repeat(7, 1fr);
    }

}

@media screen and (max-width:1439px) {
    .products {
        grid-template-columns: repeat(6, 1fr);
    }

    .shops {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (max-width:1199px) {
    .products {
        grid-template-columns: repeat(5, 1fr);
    }

    .shops {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width:991px) {
    .products {
        grid-template-columns: repeat(4, 1fr);
    }

    .shops {
        grid-template-columns: repeat(4, 1fr);
    }
}



@media screen and (max-width:767px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }

    .shops {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:480px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .shops {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* product component */


.card-text {
    font-size: 0.8em;
}


/* categorynav */
.nav-category {
    font-weight: 600;
    cursor: pointer;
    color: rgb(46, 46, 46);
    border-bottom: 1px solid transparent;
}

.nav-category:hover {
    color: #000000;
    border-bottom: 1px solid black;
}


/* product */
.product .card::after {
    position: absolute;
    content: attr(price);
    top: 11px;
    right: -14px;
    padding: 0.5rem;
    width: 50%;
    background: #3949ab;
    color: white;
    text-align: center;
    font-size: 0.8em;
    box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
    border-radius: 10px;
}

/* profile */
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.wrapper {
    width: 100%;
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 50px 20px;
    padding-top: 100px;
    display: flex;
    background-color: white;
    display: flex;
}

@media screen and (max-width: 768px) {
    .wrapper {
        height: auto;
        min-height: 100vh;
        padding-top: 100px;
    }
}

.profile-card {
    width: 100%;
    min-height: 460px;
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #fff;
    border-radius: 12px;
    max-width: 700px;
    position: relative;
}

.profile-card.active .profile-card__cnt {
    filter: blur(6px);
}

.profile-card.active .profile-card-message,
.profile-card.active .profile-card__overlay {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 0.1s;
}

.profile-card.active .profile-card-form {
    transform: none;
    transition-delay: 0.1s;
}

.profile-card__img {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px #d8d8d8, 0px 0px 0px 7px #d8d8d875;
}

@media screen and (max-width: 576px) {
    .profile-card__img {
        width: 120px;
        height: 120px;
    }
}

.profile-card__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-card__cnt {
    margin-top: -35px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 40px;
    transition: all 0.3s;
}

.profile-card__name {
    font-weight: 700;
    font-size: 24px;
    color: #6944ff;
    margin-bottom: 15px;
}

.profile-card__txt {
    font-size: 18px;
    font-weight: 500;
    color: #324e63;
    margin-bottom: 15px;
}

.profile-card__txt strong {
    font-weight: 700;
}

.profile-card-loc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.profile-card-loc__icon {
    display: inline-flex;
    font-size: 27px;
    margin-right: 10px;
}

.profile-card-inf {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 35px;
}

.profile-card-inf__item {
    padding: 10px 35px;
    min-width: 150px;
}

@media screen and (max-width: 768px) {
    .profile-card-inf__item {
        padding: 10px 20px;
        min-width: 120px;
    }
}

.profile-card-inf__title {
    font-weight: 700;
    font-size: 27px;
    color: #324e63;
}

.profile-card-inf__txt {
    font-weight: 500;
    margin-top: 7px;
}

.profile-card-social {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile-card-social__item {
    display: inline-flex;
    width: 55px;
    height: 55px;
    margin: 15px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #405de6;
    box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
    position: relative;
    font-size: 21px;
    flex-shrink: 0;
    transition: all 0.3s;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .profile-card-social__item {
        width: 50px;
        height: 50px;
        margin: 10px;
    }

    .profile-card-social__item:hover {
        transform: scale(1.2);
        color: white;
    }
}

@media screen and (min-width: 768px) {
    .profile-card-social__item:hover {
        transform: scale(1.2);
        color: white;
    }
}

.profile-card-social__item.facebook {
    background: linear-gradient(45deg, #3b5998, #0078d7);
    box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
}

.profile-card-social__item.twitter {
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
}

.profile-card-social__item.instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
}

.profile-card-social__item.behance {
    background: linear-gradient(45deg, #1769ff, #213fca);
    box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.7);
}

.profile-card-social__item.github {
    background: linear-gradient(45deg, #333333, #626b73);
    box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
}

.profile-card-social__item.codepen {
    background: linear-gradient(45deg, #324e63, #414447);
    box-shadow: 0px 4px 30px rgba(55, 75, 90, 0.6);
}

.profile-card-social__item.whatsapp {
    background: linear-gradient(45deg, #23d513, #a1e622);
    box-shadow: 0px 4px 30px rgba(116, 223, 45, 0.6);
}

.profile-card-social__item.phone {
    background: linear-gradient(45deg, #23d513, #a1e622);
    box-shadow: 0px 4px 30px rgba(116, 223, 45, 0.6);
}

.profile-card-social .icon-font {
    display: inline-flex;
}

.profile-card-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

@media screen and (max-width: 576px) {
    .profile-card-ctr {
        flex-wrap: wrap;
    }
}

.profile-card__button {
    background: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 19px;
    margin: 15px 35px;
    padding: 15px 40px;
    min-width: 201px;
    border-radius: 50px;
    min-height: 55px;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all 0.3s;
}

@media screen and (max-width: 768px) {
    .profile-card__button {
        min-width: 170px;
        margin: 15px 25px;
    }
}

@media screen and (max-width: 576px) {
    .profile-card__button {
        min-width: inherit;
        margin: 0;
        margin-bottom: 16px;
        width: 100%;
        max-width: 300px;
    }

    .profile-card__button:last-child {
        margin-bottom: 0;
    }
}

.profile-card__button:focus {
    outline: none !important;
}

@media screen and (min-width: 768px) {
    .profile-card__button:hover {
        transform: translateY(-5px);
    }
}

.profile-card__button:first-child {
    margin-left: 0;
}

.profile-card__button:last-child {
    margin-right: 0;
}

.profile-card__button.button--blue {
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
}

.profile-card__button.button--blue:hover {
    box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
}

.profile-card__button.button--orange {
    background: linear-gradient(45deg, #d5135a, #f05924);
    box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}

.profile-card__button.button--orange:hover {
    box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}

.profile-card__button.button--gray {
    box-shadow: none;
    background: #dcdcdc;
    color: #142029;
}

.profile-card-message {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 130px;
    padding-bottom: 100px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.profile-card-form {
    box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 35px;
    transform: scale(0.8);
    position: relative;
    z-index: 3;
    transition: all 0.3s;
}

@media screen and (max-width: 768px) {
    .profile-card-form {
        max-width: 90%;
        height: auto;
    }
}

@media screen and (max-width: 576px) {
    .profile-card-form {
        padding: 20px;
    }
}

.profile-card-form__bottom {
    justify-content: space-between;
    display: flex;
}

@media screen and (max-width: 576px) {
    .profile-card-form__bottom {
        flex-wrap: wrap;
    }
}

.profile-card textarea {
    width: 100%;
    resize: none;
    height: 210px;
    margin-bottom: 20px;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    padding: 15px 20px;
    color: #324e63;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    transition: all 0.3s;
}

.profile-card textarea:focus {
    outline: none;
    border-color: #8a979e;
}

.profile-card__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    background: rgba(22, 33, 72, 0.35);
    border-radius: 12px;
    transition: all 0.3s;
}


/* cart */
.cart-container {
    padding-top: 70px;
}

.cart-container select.form-control:not([size]):not([multiple]) {
    height: 44px;
}

.cart-container select.form-control {
    padding-right: 38px;
    background-position: center right 17px;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNv…9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-size: 9px 9px;
}

.cart-container .form-control:not(textarea) {
    height: 44px;
}

.cart-container .form-control {
    padding: 0 18px 3px;
    border: 1px solid #dbe2e8;
    border-radius: 22px;
    background-color: #fff;
    color: #606975;
    font-family: "Maven Pro", Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.shopping-cart,
.wishlist-table,
.order-table {
    margin-bottom: 20px
}

.shopping-cart .table,
.wishlist-table .table,
.order-table .table {
    margin-bottom: 0
}

.shopping-cart .btn,
.wishlist-table .btn,
.order-table .btn {
    margin: 0
}

.shopping-cart>table>thead>tr>th,
.shopping-cart>table>thead>tr>td,
.shopping-cart>table>tbody>tr>th,
.shopping-cart>table>tbody>tr>td,
.wishlist-table>table>thead>tr>th,
.wishlist-table>table>thead>tr>td,
.wishlist-table>table>tbody>tr>th,
.wishlist-table>table>tbody>tr>td,
.order-table>table>thead>tr>th,
.order-table>table>thead>tr>td,
.order-table>table>tbody>tr>th,
.order-table>table>tbody>tr>td {
    vertical-align: middle !important
}

.shopping-cart>table thead th,
.wishlist-table>table thead th,
.order-table>table thead th {
    padding-top: 17px;
    padding-bottom: 17px;
    border-width: 1px
}

.shopping-cart .remove-from-cart,
.wishlist-table .remove-from-cart,
.order-table .remove-from-cart {
    display: inline-block;
    color: #ff5252;
    font-size: 18px;
    line-height: 1;
    text-decoration: none
}

.shopping-cart .count-input,
.wishlist-table .count-input,
.order-table .count-input {
    display: inline-block;
    width: 100%;
    width: 86px
}

.shopping-cart .product-item,
.wishlist-table .product-item,
.order-table .product-item {
    display: table;
    width: 100%;
    min-width: 150px;
    margin-top: 5px;
    margin-bottom: 3px
}

.shopping-cart .product-item .product-thumb,
.shopping-cart .product-item .product-info,
.wishlist-table .product-item .product-thumb,
.wishlist-table .product-item .product-info,
.order-table .product-item .product-thumb,
.order-table .product-item .product-info {
    display: table-cell;
    vertical-align: top
}

.shopping-cart .product-item .product-thumb,
.wishlist-table .product-item .product-thumb,
.order-table .product-item .product-thumb {
    width: 130px;
    padding-right: 20px
}

.shopping-cart .product-item .product-thumb>img,
.wishlist-table .product-item .product-thumb>img,
.order-table .product-item .product-thumb>img {
    display: block;
    width: 100%
}

@media screen and (max-width: 860px) {

    .shopping-cart .product-item .product-thumb,
    .wishlist-table .product-item .product-thumb,
    .order-table .product-item .product-thumb {
        display: none
    }
}

.shopping-cart .product-item .product-info span,
.wishlist-table .product-item .product-info span,
.order-table .product-item .product-info span {
    display: block;
    font-size: 13px
}

.shopping-cart .product-item .product-info span>em,
.wishlist-table .product-item .product-info span>em,
.order-table .product-item .product-info span>em {
    font-weight: 500;
    font-style: normal
}

.shopping-cart .product-item .product-title,
.wishlist-table .product-item .product-title,
.order-table .product-item .product-title {
    margin-bottom: 6px;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 500
}

.shopping-cart .product-item .product-title>a,
.wishlist-table .product-item .product-title>a,
.order-table .product-item .product-title>a {
    transition: color .3s;
    color: #374250;
    line-height: 1.5;
    text-decoration: none
}

.shopping-cart .product-item .product-title>a:hover,
.wishlist-table .product-item .product-title>a:hover,
.order-table .product-item .product-title>a:hover {
    color: #0da9ef
}

.shopping-cart .product-item .product-title small,
.wishlist-table .product-item .product-title small,
.order-table .product-item .product-title small {
    display: inline;
    margin-left: 6px;
    font-weight: 500
}

.wishlist-table .product-item .product-thumb {
    display: table-cell !important
}

@media screen and (max-width: 576px) {
    .wishlist-table .product-item .product-thumb {
        display: none !important
    }
}

.shopping-cart-footer {
    display: table;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #e1e7ec
}

.shopping-cart-footer>.column {
    display: table-cell;
    padding: 5px 0;
    vertical-align: middle
}

.shopping-cart-footer>.column:last-child {
    text-align: right
}

.shopping-cart-footer>.column:last-child .btn {
    margin-right: 0;
    margin-left: 15px
}

@media (max-width: 768px) {
    .shopping-cart-footer>.column {
        display: block;
        width: 100%
    }

    .shopping-cart-footer>.column:last-child {
        text-align: center
    }

    .shopping-cart-footer>.column .btn {
        width: 100%;
        margin: 12px 0 !important
    }
}

.coupon-form .form-control {
    display: inline-block;
    width: 100%;
    max-width: 235px;
    margin-right: 12px;
}

.cart-container .form-control-sm:not(textarea) {
    height: 36px;
}


/* filtre */


.sidebarfilter {
    --offset: 65px;
    flex-grow: 1;
    flex-basis: 200px;
    align-self: start;
    position: sticky;
    top: var(--offset);
    z-index: 1050;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.component {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.component .content {
    /* width: 200px; */
}

.sidebarfilter .component {
    max-height: calc(100vh - var(--offset) * 2);
}

.fill {
    max-width: 200px;
}

.products {
    max-width: calc(100% - 210px);
}

.sort-select {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    background-color: white;
}

.sort-select:focus-visible {
    outline: none;
}

.filtre-btn {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    background-color: white;

}

.cd-filter {
    position: fixed;
    top: 0px;
    left: 0;
    /* width: 280px; */
    z-index: 2000;
    height: 130vh;
    background: #ffffff;
    box-shadow: 4px 4px 20px transparent;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
    -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
    transition: transform 0.3s, box-shadow 0.3s;
}

.cd-filter::before {
    /* top colored bar */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #b4b4b4;
    z-index: 2;
}

.cd-filter {
    padding: 70px 20px;
}

.cd-filter .cd-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    background: #9c9c9c;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: 3;
}

.no-touch .cd-filter .cd-close:hover {
    background: #32255f;
}

.cd-filter.filter-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.cd-filter.filter-is-visible .cd-close {
    opacity: 1;
}

@media only screen and (min-width: 1170px) {
    /* .cd-filter {
      width: 20%;
    } */
    /* .cd-filter form {
      padding: 70px 10%;
    } */
}

.cd-filter-trigger {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    width: 60px;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    background: transparent url("../public/assets/icons/cd-icon-filter.svg") no-repeat center center;
    z-index: 3;
}

.cd-filter-trigger.filter-is-visible {
    pointer-events: none;
}

@media only screen and (min-width: 1170px) {
    .cd-filter-trigger {
        width: auto;
        left: 2%;
        text-indent: 0;
        color: #9a9a9a;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 700;
        padding-left: 24px;
        background-position: left center;
        -webkit-transition: color 0.3s;
        -moz-transition: color 0.3s;
        transition: color 0.3s;
    }

    .no-touch .cd-filter-trigger:hover {
        color: #41307c;
    }

    .cd-filter-trigger.filter-is-visible,
    .cd-filter-trigger.filter-is-visible:hover {
        color: #ffffff;
    }
}

/* tabfiltre  */
.cd-tab-filter-wrapper {
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    z-index: 1;
}

.cd-tab-filter-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.cd-tab-filter {
    /* tabbed navigation style on mobile - dropdown */
    position: relative;
    height: 50px;
    width: 140px;
    margin: 0 auto;
    z-index: 1;
}

.cd-tab-filter::after {
    /* small arrow icon */
    content: '';
    position: absolute;
    right: 14px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../public/assets/icons/cd-icon-arrow.svg") no-repeat center center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
}

.cd-tab-filter ul {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: inset 0 -2px 0 #41307c;
}

.cd-tab-filter li {
    display: none;
}

.cd-tab-filter li:first-child {
    /* this way the placehodler is alway visible */
    display: block;
}

.cd-tab-filter a {
    display: block;
    /* set same size of the .cd-tab-filter */
    height: 50px;
    width: 140px;
    line-height: 50px;
    padding-left: 14px;
}

.cd-tab-filter a.selected {
    background: #41307c;
    color: #ffffff;
}

.cd-tab-filter.is-open::after {
    /* small arrow rotation */
    -webkit-transform: translateY(-50%) rotate(-180deg);
    -moz-transform: translateY(-50%) rotate(-180deg);
    -ms-transform: translateY(-50%) rotate(-180deg);
    -o-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
}

.cd-tab-filter.is-open ul {
    box-shadow: inset 0 -2px 0 #41307c, 0 2px 10px rgba(0, 0, 0, 0.2);
}

.cd-tab-filter.is-open ul li {
    display: block;
}

.cd-tab-filter.is-open .placeholder a {
    /* reduces the opacity of the placeholder on mobile when the menu is open */
    opacity: .4;
}

@media only screen and (min-width: 768px) {
    .cd-tab-filter {
        /* tabbed navigation style on medium devices */
        width: auto;
        cursor: auto;
    }

    .cd-tab-filter::after {
        /* hide the arrow */
        display: none;
    }

    .cd-tab-filter ul {
        background: transparent;
        position: static;
        box-shadow: none;
        text-align: center;
    }

    .cd-tab-filter li {
        display: inline-block;
    }

    .cd-tab-filter li.placeholder {
        display: none !important;
    }

    .cd-tab-filter a {
        display: inline-block;
        padding: 0 1em;
        width: auto;
        color: #9a9a9a;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.3rem;
    }

    .no-touch .cd-tab-filter a:hover {
        color: #41307c;
    }

    .cd-tab-filter a.selected {
        background: transparent;
        color: #41307c;
        /* create border bottom using box-shadow property */
        box-shadow: inset 0 -2px 0 #41307c;
    }

    .cd-tab-filter.is-open ul li {
        display: inline-block;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-tab-filter {
        /* tabbed navigation on big devices */
        width: 100%;
        float: right;
        margin: 0;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        transition: width 0.3s;
    }

    .cd-tab-filter.filter-is-visible {
        /* reduce width when filter is visible */
        width: 80%;
    }
}

/* shopcard  */

.shop .card.user-card {
    border-top: none;
    -webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05), 0 -2px 1px -2px rgba(0, 0, 0, 0.04), 0 0 0 -1px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
}

.shop .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.shop .card .card-header {
    background-color: transparent;
    border-bottom: none;
    padding: 5px;
}

.shop .card .card-header h5 {
    margin-bottom: 0;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin-right: 10px;
    line-height: 1.4;
}

.shop .card .card-header+.card-block,
.card .card-header+.card-block-big {
    padding-top: 0;
}

.shop .user-card .card-block {
    text-align: center;
}

.shop .card .card-block {
    padding: 5px;
}

.shop .user-card .card-block .user-image {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    padding: 5px;
    width: 110px;
    height: 110px;
}

.shop .user-card .card-block .user-image img {
    z-index: 20;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100px;
    height: 100px;
}

.shop .img-radius {
    border-radius: 50%;
}

.shop .f-w-600 {
    font-weight: 600;
}

.shop .m-b-10 {
    margin-bottom: 10px;
}

.shop .m-t-25 {
    margin-top: 25px;
}

.shop .m-t-15 {
    margin-top: 15px;
}

.shop .card .card-block p {
    line-height: 1.4;
}

.shop .text-muted {
    color: #919aa3 !important;
}

.shop .user-card .card-block .activity-leval li.active {
    background-color: #2ed8b6;
}

.shop .user-card .card-block .activity-leval li {
    display: inline-block;
    width: 15%;
    height: 4px;
    margin: 0 3px;
    background-color: #ccc;
}

.shop .user-card .card-block .counter-block {
    color: #fff;
}

.shop .bg-c-blue {
    border: 1px solid black;
    border-radius: 10px;
}






.shop .user-card .card-block .user-social-link i {
    font-size: 30px;
}

.shop .text-facebook {
    color: #3B5997;
}

.shop .text-twitter {
    color: #42C0FB;
}

.shop .text-dribbble {
    color: #EC4A89;
}

.shop .user-card .card-block .user-image:before {
    bottom: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.shop .user-card .card-block .user-image:after,
.user-card .card-block .user-image:before {
    content: "";
    width: 100%;
    height: 48%;
    border: 2px solid #4099ff;
    position: absolute;
    left: 0;
    z-index: 10;
}

.shop .user-card .card-block .user-image:after {
    top: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.shop .user-card .card-block .user-image:after,
.user-card .card-block .user-image:before {
    content: "";
    width: 100%;
    height: 48%;
    border: 2px solid #4099ff;
    position: absolute;
    left: 0;
    z-index: 10;
}

/* footer  */
ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #151414;
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #ff5e14;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}



.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #ff5e14;
}

.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #ff5e14;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #ff5e14;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #ff5e14;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}



/* searchbar */

.search-bar {
    flex-direction: row;
    min-width: 100%;
    display: flex;
}

.search-bar .select {
    flex: 1
}

.search-bar .search {
    flex: 1
}

.search-bar .button {
    flex: 1
}

/* dark mode  */

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-slot {
    position: relative;
    height: 50px;
    width: 100px;
    border: 5px solid #e4e7ec;
    border-radius: 10em;
    background-color: white;
    /* box-shadow: 0px 10px 25px #e4e7ec; */
    transition: background-color 1500ms;
}

.toggle-checkbox:checked~.toggle-slot {
    background-color: #374151;
}

.toggle-button {
    transform: translate(5px, 7px);
    position: absolute;
    height: 0px;
    width: 0px;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.75em white;
    transform: translate(30px, 7px);
}

.sun-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    color: #ffbb52;
}

.sun-icon-wrapper {
    position: absolute;
    height: 15px;
    width: 15px;
    opacity: 1;
    transform: translate(60px, 10px) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 1500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(120px, 10px) rotate(0deg);
}

.moon-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    color: white;
}

.moon-icon-wrapper {
    position: absolute;
    height: 15px;
    width: 15px;
    opacity: 0;
    transform: translate(10px, 120px) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 1500ms cubic-bezier(.26, 2.5, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(3px, 10px) rotate(-15deg);
}


.close-btn-sidebar {
    border: 5px solid #e4e7ec;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.fa-circle-xmark:before {
    line-height: 42px;
    font-size: 40px;
}

.fa-circle-xmark:after {
    font-size: 0px;
}











.carousel .thumbs-wrapper {
    margin: 0px !important;
}
.control-arrow{
    opacity: 1 !important;
}
/* .carousel .control-next.control-arrow:before {
    border-left: 8px solid rgb(229, 255, 0) !important;
    margin :  5px !important;
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid rgb(229, 255, 0) !important;
    margin :  5px !important;
} */

.carousel.carousel-slider .control-arrow:hover {
    background: rgb(0 0 0 / 45%)!important;
}